pytest
h11
pip
attrs
requests
trio
outcome
sniffio
exceptiongroup
sortedcontainers
idna
PyYAML
anyio
httpcore
certifi
rfc3986
selenium
pluggy
iniconfig
pydantic
urllib3
setuptools
packaging
wsproto
httpx
python-dotenv
tqdm
webdriver_manager
pytest-zebrunner